<h1>Let me count how many times your word appears in your sentence</h1>
<form action = "/words" method="post">

  <label for ="new-word">What word are you looking to count?</label>
  <input id ="new-word" name="new-word" type="text">


  <label for ="new-sentence">Add a sentence!</label>
  <input id ="new-sentence" name="new-sentence" type="text">


  <button type="submit">Submit</button>

</form>
<a href="/">Home</a>
