<h1>Basic MVC Apps: Epicodus Friday Independent Project</h1>
<h3><a href='/words/new'>Word Counter</a></h3>
<h3><a href='/years/new'>Leap Year Checker</a></h3>
<h3><a href='/parcels/new'>Parcel Calculator</a></h3>