<h1>Parcels Delivery</h1>
<form action = "/parcels" method="post">

  <label for ="new-width">Add the width of your parcel</label>
  <input id ="new-width" name="new-width" type="number">

  <label for ="new-length">Add the length of your parcel</label>
  <input id ="new-length" name="new-length" type="number">

  <label for ="new-heighth">Add the heighth of your parcel</label>
  <input id ="new-heighth" name="new-heighth" type="number">

  <label for ="new-weight">Add the weight of your parcel</label>
  <input id ="new-weight" name="new-weight" type="number">

  <button type="submit">Submit</button>

</form>
