<h1>Leap Year Checker!</h1>
<form action = "/years" method="post">

  <label for ="new-year">What year are you looking to check?</label>
  <input id ="new-year" name="new-year" type="text">


  <button type="submit">Submit</button>

</form>
<a href="/">Home</a>
<a href="/words/new">Word Counter</a>
